

 input{
  border-radius: 10px;
  width: 30%;
  height: 5%;
  font-size: 20px;
}

form button{
  border-radius: 10px;
  width: 30%;
  height: 30px;
}


.form-control{
  height: 35px;
}

.register-form{
  margin-top: 5%;
  background: #E8E8E8;
}

.register-form button{
margin-bottom: 4%;
}
