

 input{
  border-radius: 10px;
  width: 30%;
  height: 5%;
  font-size: 20px;
}

form button{
  border-radius: 10px;
  width: 30%;
  height: 30px;
}

.userName {
  margin-right: 1%;
}

.password {
  margin-right: 1%;
}

.register-form{
margin-top: 5%;
border-style: groove;
background-color: #F0F0F0;
float: right;
}
  
