.App {
  text-align: center;
}

.appBody{
  margin-top: 3%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html,
body,
#app,
#app > div {
  /* Full height */
  height: 100%;
  background-image: url("component//Assets/images/music_background.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Freight Sans', Helvetica, Arial, sans-serif
}


