.container {
  background-color: white;

}
ul {
  list-style-type: none;
}


.homeForm{
    border-style: groove;
  
}

.home-col{
    margin-top: 2%;
}


.home-timeline{
border-style: groove;
margin-top: 4%;
}