.navbar-brand{
  font-weight: bold;
}

nav {
  background-color: #232f3e !important;
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
}

nav span {
  position: relative;
  margin-top: 0;
  height: 100%;
  color: white !important;
}
nav a {
  position: relative;
  color: white;
  float: right;
}

span {
  color: white;
}
nav a:hover {
  font-weight: bold;
}

.navbar {
  background-color: #232f3e !important;
}

.page-header {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #232f3e;
}

.navLink {
  margin-left: 20px;
  color: #0070bf;
}

html {
  height: 100%;
}
body {
  background: lightgray;
  height: 100%;
}