
 
 
li { 
  font-size: 2pxs;
   display: inline-flex;
  }
  
   input{
    border-radius: 10px;
    width: 10%;
    height: 5%;
    font-size: 20px;
  }
  
  form button{
    border-radius: 10px;
    width: 30%;
    height: 30px;
  }
  
  
  .form-control{
   width: 80% !important;
  }
  
  
  td{
    color: white;
  }
  
  .btn-submit{
    background-color: #232f3e;
    color: white;
  }